<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.dao.GroupMapper">


    <select id="grouplist" resultType="com.su.pojo.Group">
        SELECT *
        FROM `group`
    </select>

    <select id="selectByKey" parameterType="long" resultType="com.su.pojo.Group">
        SELECT *
        FROM `group`
        where id = #{id}
    </select>

    <insert id="addgroup" parameterType="com.su.pojo.Group">
        insert into `group` (id, name, key_id)
        values (null, #{name}, #{keyId})
    </insert>

    <delete id="delegroup" parameterType="long">
        delete
        from `group`
        where id = #{id}
    </delete>

    <update id="setgroup" parameterType="com.su.pojo.Group">
        UPDATE `group`
        SET name=#{name},
            key_id=#{keyId}
        where id = #{id};
    </update>


</mapper>