<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.dao.ImageMapper">
    <resultMap id="ResultMap" type="com.su.pojo.Image" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="imgname" property="name" jdbcType="VARCHAR" />
        <id column="imgurl" property="url" jdbcType="VARCHAR" />
        <id column="username" property="userName" jdbcType="VARCHAR" />
        <id column="updatetime" property="updatetime" jdbcType="VARCHAR" />
        <id column="sizes" property="size" jdbcType="INTEGER" />
        <id column="abnormal" property="abnormal" jdbcType="INTEGER" />
        <id column="source" property="source" jdbcType="INTEGER" />
    </resultMap>
    <insert id="insert" parameterType="com.su.pojo.Image">
        INSERT INTO imgdata (id, imgname, imgurl, userid, updatetime, sizes, abnormal, source)
        VALUES (#{id}, #{name}, #{url}, #{userId}, #{updatetime}, #{size}, null, #{source})
    </insert>

    <!-- 查询-->
    <select id="listData" parameterType="com.su.pojo.Images" resultMap="ResultMap">
        SELECT
        a.id,
        a.imgname,
        a.imgurl,
        b.username,
        a.updatetime,
        a.sizes,
        a.abnormal,
        a.source
        FROM
        imgdata a
        LEFT JOIN user b ON a.userid = b.id
        where
        1=1
        <if test="userId != null">
            and
            userid = #{userId}
        </if>
        <if test="source != null">
            and
            source = #{source}
        </if>
        <if test="starttime != null">
            and
            updatetime &gt;= #{starttime}
        </if>
        <if test="stoptime != null">
            and
            updatetime &lt;= #{stoptime}
        </if>
        order by id desc
    </select>
    <!-- 此用户下总数 -->
    <select id="countimg" parameterType="long" resultType="integer">
        select count(*)
        from imgdata
        where userid = #{userid}
    </select>

    <delete id="delete" parameterType="integer">
        DELETE
        FROM imgdata
        WHERE id = #{id}
    </delete>


    <select id="selectByPrimaryKey" parameterType="integer" resultType="com.su.pojo.Images">
        select *
        from imgdata
        where id = #{id}
    </select>

    <select id="counts" resultType="integer">
        select count(*) from imgdata where 1=1
        <if test="userid != null">
            userid=#{userid}

        </if>
    </select>

    <!-- 根据图片名字标记非法提示 -->
    <update id="setabnormal" parameterType="string">
        UPDATE imgdata
        set abnormal=1
        where imgname = #{imgname}
    </update>
    <!-- 非法图片删除他  根据名称-->
    <delete id="deleimgname" parameterType="string">
        DELETE
        FROM imgdata
        WHERE imgname = #{imgname}
    </delete>

    <!--    批量删除-->
    <delete id="deleall" parameterType="integer">
        DELETE
        FROM imgdata
        WHERE id = #{id}
    </delete>

    <select id="gettimeimg" parameterType="string" resultType="com.su.pojo.Images">
        SELECT *
        from imgdata
        WHERE updatetime >= #{time}
    </select>
    <!--查询指定用户总内存-->
    <select id="getusermemory" parameterType="long" resultType="integer">
        SELECT sum(sizes)
        FROM `imgdata`
        where userid = #{userid}
    </select>

</mapper>