<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.dao.KeyMapper">


    <!-- 查询对象存储key-->
    <select id="selectByStorageType" parameterType="integer" resultType="com.su.pojo.Key">
        SELECT *
        FROM `key`
        WHERE storageType = #{storageType}
    </select>
    <select id="selectByKey" parameterType="long" resultType="com.su.pojo.Key">
        SELECT *
        FROM `key`
        WHERE id = #{id}
    </select>

    <!-- 查询对象存储key-->
    <select id="getKeys" parameterType="integer" resultType="com.su.pojo.Key">
        SELECT *
        FROM `key`
    </select>

    <update id="updateKey" parameterType="com.su.pojo.Key">
        UPDATE `key`
        SET AccessKey      = #{AccessKey},
            AccessSecret   = #{AccessSecret},
            Endpoint       = #{Endpoint},
            Bucketname     = #{Bucketname},
            RequestAddress = #{RequestAddress}
        WHERE storageType = #{storageType}
    </update>
</mapper>